*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
}
/*news box start*/
.news{
    width: 85%;
    margin: auto;
    padding-bottom: 30px;
  }
  .news-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1130px;
    overflow: hidden;
  }
  .news-container .news-content-box{
    width: calc(100% / 3);
    padding: 20px;
  }
  .news-content-box .content{
    width: 100%;
    overflow: hidden;
    display: block;
  }
  .news-content-box .content .content-img {
    width: 100%;
    overflow: hidden;
    display: block;
  }
  .news-content-box .content .content-img img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .news-content-box .content .content-img:hover img{
    transform: scale(1.1);
  }
  .news-content-box .content .content-text{
    display: block;
    width: 95%;
    margin-top: 10px;
  }
  .news-content-box .content .content-text p{
     padding-top: 20px;
   padding-bottom: 10px;
  }
  .news-content-box .content .content-text p a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    color: rgba(0, 0, 0, 0.815);
    transition: all 0.3s ease;
  }
  .news-content-box .content .content-text p a:hover{
    color: rgb(255, 128, 128);
  }
  .news-content-box .content .content-text span{
    padding-top: 10px;
    font-size: 14px;
    font-family: 'Poppins';
    color: rgba(0, 0, 0, 0.664);
    font-style: italic;
    font-weight: 500;
  }
  /*news box end*/
  
  /*modal news box start*/
  .modal1, .modal2, .modal3{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11111; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
  }
  .modal-container{
    width: 70%;
    height: 90%;
    margin: auto;
    position: absolute;
    overflow: hidden;
  top: 50%;
    left: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    transform: translate(-50%, -50%) scale(0.9);
    background:rgb(255, 255, 255);
  animation: zoom-out 0.5s ;
  }
  @keyframes zoom-out{
    from {
      opacity: 0.2;
      
    } 
    to {
     
      opacity: 1;
    }
  }
  
  .modal-container .modal-close1, .modal-close2, .modal-close3{
    color: rgb(0, 0, 0);
    font-size: 28px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.322);
    border: 3px solid rgb(253, 145, 145);
    right: 2px;
    top:3px;
    padding: 3px 12px;
    border-radius: 50%;
    position: absolute;
  }
  .modal-container .fa:hover{
      transition: 0.3s ease;
    color: rgb(252, 130, 130);
    
  }
  .modal-content{
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    
  }
  .modal-details{
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .modal-details h2{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 30px;
    font-family: 'poppins';
    color: rgba(0, 0, 0, 0.911);
  }
  .modal-details p{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'poppins';
    font-style: italic;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.651);
  }
  .modal-text p {
    font-size: 18px;
    font-family: 'poppins';
    line-height: 35px;
    color: rgba(0, 0, 0, 0.719);
  }
  .modal-text span p{
    font-size: 17px;
    font-family: 'poppins';
    line-height: 30px;
    color: rgba(0, 0, 0, 0.822);
    font-style: italic;
    padding-left: 20px;
    border-left: 2px solid rgb(255, 103, 103);
  }
  .modal-container .modal-share{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 200px;
  }
  .modal-share p{
      font-size: 20px;
      font-family: "poppins";
      font-weight: 600;
  }
  .modal-share .fa{
    font-size: 20px;
  }
  /*modal news box end*/

  /*contact box start*/
.contact{
  width: 85%;
  margin: auto;
}
.contact-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1130px;
  overflow: hidden;
}
.contact-box{
  width: 48%;
  margin-left: 5px;

}
.contact-intro p{
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.705);
  font-size: 17px;
  font-family: 'Poppins';
  line-height: 30px;
}
.contact-form{
  padding-top: 20px;
}
.contact-form .form-control{
  padding: 10px;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400;
  outline: none;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  transition: all 0.3s ease;
}
.contact-form .form-control:focus{
  border: 1px solid rgba(0, 0, 0, 0.548);
}
.contact-form .message{
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 400;
  outline: none;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  transition: all 0.3s ease;
  height: 120px;
  padding: 10px;
}
.contact-form .message:focus{
  border: 1px solid rgba(0, 0, 0, 0.548);
}
.contact-form .submit-btn{
  font-size: 18px;
  padding: 12px 35px;
  font-family: 'Poppins';
  font-weight: 500;
  outline: none;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(250, 113, 113);
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: rgb(255, 133, 133);
  color: rgba(255, 255, 255, 0.877);
}
.map-box{
  width: 48%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.map{
  width: 100%;
}
/*contact box end*/

/*footer box start*/
.end{
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.925);
}
.footer-container{
  width: 85%;
  height: 30vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container p{
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 500;
  color: white;
}
.footer-container .footer-icon{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 400px;
}
.footer-icon .fa{
  font-size: 22px;
  color: white;
  padding: 0 20px;
}
/*footer box start*/

  @media screen and (max-width: 1036px) {
    .news{
      width: 90%;
      margin: auto;
    }
    .news-container .news-content-box{
      width: calc(100% / 3);
      padding: 10px;
    }
    .modal-container{
      width: 70%;
      height: 70%;
    }
    .modal-details{
      padding-top: 10px;
      padding-bottom: 20px;
    }
    .modal-details h2{
      padding-top: 10px;
      padding-bottom: 5px;
      font-size: 25px;
    }
    .modal-details p{
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 14px;
    }
    .modal-text p {
      font-size: 17px;
      line-height: 25px;
    }
    .modal-text span p{
      font-size: 16px;
      line-height: 22px;
      padding-left: 10px;
    }
    .contact{
      width: 90%;
      margin: auto;
      padding-bottom: 30px;
    }
    .contact-container{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .contact-box{
      width: 48%;
      margin-left: 5px;
    
    }
    .contact-intro p{
      margin-bottom: 20px;
      font-size: 17px;
      line-height: 30px;
    }
    .contact-form{
      padding-top: 10px;
    }
    .contact-form .form-control{
      padding: 10px;
      font-size: 16px;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .contact-form .message{
      font-size: 16px;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
      height: 120px;
      padding: 10px;
    }
    .contact-form .submit-btn{
      font-size: 18px;
      padding: 12px 35px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    
    .map-box{
      width: 48%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .map{
      width: 100%;
    }
    /*footer box start*/
.end{
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.925);
}
.footer-container{
  width: 90%;
  height: 20vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container p{
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500;
  color: white;
}
.footer-container .footer-icon{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 300px;
}
.footer-icon .fa{
  font-size: 20px;
  padding: 0 10px;
}
/*footer box start*/
  }
  @media screen and (max-width: 800px) {
    .news-container .news-content-box{
      width: calc(100% / 2);
      padding: 10px;
    }
    .news-content-box .content p{
       padding-top: 10px;
      padding-bottom: 5px;
   }
    .news-content-box .content p a{
     
      width: 95%;
      font-size: 16px;
      
    }
    .news-content-box .content span{
      width: 95%;
      padding-top: 10px;
      font-size: 10px;
      font-weight: 500;
    }

    .modal-container{
      width: 75%;
      height: 75%;
    }
    .modal-details{
      padding-top: 10px;
      padding-bottom: 20px;
    }
    .modal-details h2{
      padding-top: 10px;
      padding-bottom: 5px;
      font-size: 20px;
    }
    .modal-details p{
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 13px;
    }
    .modal-text p {
      font-size: 15px;
      line-height: 25px;
    }
    .modal-text span p{
      font-size: 14px;
      line-height: 22px;
      padding-left: 10px;
    }
    .contact{
      width: 90%;
      margin: auto;
    }
    .contact-container{
      width: 70%;
      display: block;
      margin: 10px;
      justify-content: space-between;
      align-items: flex-end;
    }
    .contact-box{
      width: 90%;
    
    }
    .contact-intro p{
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 30px;
    }
    .contact-form{
      padding-top: 10px;
    }
    .contact-form .form-control{
      padding: 8px;
      font-size: 15px;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .contact-form .message{
      font-size: 14px;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
      height: 100px;
      padding: 8px;
    }
    .contact-form .submit-btn{
      font-size: 16px;
      padding: 10px 25px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    
    .map-box{
      width: 90%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .map{
      width: 100%;
      height: 300px;
    }
    .end{
      width: 100%;
      overflow: hidden;
    }
    .footer-container{
      width: 90%;
      height: auto;
      margin: auto;
      display: block;
      padding-top: 5vh;
      padding-bottom: 5vh;
    }
    .footer-container p{
      font-size: 16px;
      padding-bottom: 10px;
    }
    .footer-container .footer-icon{
      max-width: 200px;
    }
    .footer-icon .fa{
      font-size: 20px;
      padding: 0 10px;
    }
    /*footer box start*/
  }
  @media screen and (max-width: 600px) {
    
    .news-container .news-content-box{
      width: 100%;
    }
    .news-content-box .content p{
     padding-top: 10px;
      padding-bottom: 5px;
   }
    .news-content-box .content p a{
      
      width: 95%;
      font-size: 16px;
      
    }
    .news-content-box .content span{
      width: 95%;
      padding-top: 10px;
      font-size: 10px;
      font-weight: 500;
    }
    .modal-container{
      width: 90%;
      height: 70%;
    }
    .modal-details{
      padding-top: 10px;
      padding-bottom: 20px;
    }
    .modal-details h2{
      padding-top: 10px;
      padding-bottom: 5px;
      font-size: 17px;
    }
    .modal-details p{
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 12px;
    }
    .modal-text p {
      font-size: 14px;
      line-height: 25px;
    }
    .modal-text span p{
      font-size: 13px;
      line-height: 22px;
      padding-left: 10px;
    }
    .modal-container .modal-share{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 150px;
    }
    .modal-share p{
        font-size: 17px;
        font-family: "poppins";
        font-weight: 600;
    }
    .modal-share .fa{
      font-size: 17px;
    }

    .contact{
      width: 90%;
      margin: auto;
    }
    .contact-container{
      width: 80%;
      display: block;
      margin: 10px;
      justify-content: space-between;
      align-items: flex-end;
    }
    .contact-box{
      width: 100%;
    
    }
    .contact-intro p{
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 30px;
    }
    .contact-form{
      padding-top: 10px;
    }
    .contact-form .form-control{
      padding: 6px;
      font-size: 15px;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .contact-form .message{
      font-size: 14px;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
      height: 80px;
      padding: 6px;
    }
    .contact-form .submit-btn{
      font-size: 15px;
      padding: 8px 20px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    
    .map-box{
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .map{
      width: 100%;
      height: 200px;
    }

    .end{
      width: 100%;
      overflow: hidden;
    }
    .footer-container{
      width: 90%;
      height: auto;
      margin: auto;
      display: block;
      padding-top: 5vh;
      padding-bottom: 5vh;
    }
    .footer-container p{
      font-size: 14px;
      padding-bottom: 10px;
    }
    .footer-container .footer-icon{
      max-width: 200px;
    }
    .footer-icon .fa{
      font-size: 18px;
      padding: 0 10px;
    }
    /*footer box start*/

  }