*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  body{
    scroll-behavior: smooth;
}
  ::selection{
    color: #fff;
    background: #007bff;
  }
  .portfolio{
      width: 85%;
      padding: 10px;
      margin: auto;
  }
.bio .sec-header,
.service .sec-header,
.portfolio .sec-header{
    margin-top: 20px;
    padding-bottom: 50px;
}
.bio .sec-header h1,
.service .sec-header h1,
.portfolio .sec-header h1{
    font-size: 30px;
    font-family: 'Poppins';
    text-align: left;
    color: black;
    padding-top: 10px;
    padding-bottom: 30px;
    letter-spacing: 1px;
}
.bio .sec-header h6,
.service .sec-header h6,
.portfolio .sec-header h6{
    font-size: 18px;
    font-family: 'Poppins';
    text-align: left;
    color: rgb(255, 128, 128);
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: 1px;
}
.wrapper{
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}
.wrapper nav{
    display: flex;
    justify-content: flex-start;
}
/*items start*/
.wrapper .items{
    display: flex;
    justify-content: space-between;
    max-width: 520px;
    width: 100%;
}
.items span{
    padding: 7px 25px;
    font-weight: 500;
    font-size: 18px;
    color:rgb(255, 128, 128);
    transition: all 0.3s ease;
}
.items span.active,
.items span:hover{
        color: #007bff;
        
}
/*items end*/

/*gellary start*/
.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.gallery .image{
    width: calc(100% / 3);
    padding: 7px;
}
.gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .gallery .image:hover img{
      transform: scale(1.1);
  }
  .gallery .image.hide{
      display: none;
  }
  .gallery .image.show{
      animation: show-animate 0.4s ease;
  }
  @keyframes show-animate{
      0%{
          transform: scale(0.5);
      }
      110%{
        transform: scale(1.0);
    }
  }
/*gellary end*/

/*full image slider start*/
.preview-box{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: rgba(253, 253, 253, 0.938);
  max-width: 700px;
  width: 100%;
  z-index: 11111;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
}
.preview-box .preview-details{
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .preview-details .preview-title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .preview-details .preview-title p{
    font-weight: 500;
    margin-left: 5px;
  }
  .preview-details .icon{
    color: #007bff;
    font-size: 22px;
    cursor: pointer;
  }
  .preview-box .image-box{
    width: 100%;
    display: flex;
  }
  .image-box img{
    width: 100%;
  }
  .shadow{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1111;
    display: none;
    background: rgba(0, 0, 0, 0.76);
  }
  .shadow.show{
    display: block;
  }
/*full image slider end*/
/*counter start*/
.counter-shot{
  width: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.918);
} 
.counter-up{
  max-width: 1130px;
 margin: auto;
  min-height: 50vh;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.counter-up .counter-content{
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.counter-content .counter-box{
  width: calc(25% - 30px);
  box-shadow: 0 4px 8px 0 rgba(26, 25, 25, 0.315), 0 6px 20px 0 rgba(22, 22, 22, 0.418);
  background-color: rgba(0, 0, 0, 0.918);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.counter-box .counter-icon{
font-size: 48px;
color: rgba(250, 235, 215, 0.89);
}
.counter-box .counter-number{
font-size: 40px;
font-weight: 400;
color: #f2f2f2e0;
font-family: 'Poppins';
}
.counter-box .counter-text{
  font-weight: 500;
color: #ccc;
}
/*counter up end*/

@media (max-width: 1080px) {
    .gallery .image{
      width: calc(100% / 3);
    }
    /*counter start*/
    .counter-up{
      padding: 50px 50px 0 50px;
    }
    .counter-up .counter-content .counter-box{
      width: calc(50% - 30px);
      margin-bottom: 50px;
    }
/*counter up end*/
  }
  @media (max-width: 820px) {
    .gallery .image{
      width: calc(100% / 2);
    }
    /*counter start*/
    .counter-up{
      padding: 50px 50px 0 50px;
    }
    .counter-up .counter-content .counter-box{
      width: calc(50% - 30px);
      margin-bottom: 50px;
    }
/*counter up end*/
  }
  @media (max-width: 700px) {
    .wrapper nav .items{
      max-width: 600px;
    }
    nav .items span{
      padding: 7px 15px;
    }
    /*counter start*/
    .counter-up{
      padding: 50px 50px 0 50px;
    }
    .counter-up .counter-content .counter-box{
      width: calc(50% - 30px);
      margin-bottom: 50px;
    }
/*counter up end*/
  }
  @media (max-width: 600px) {
    .wrapper{
      margin: 15px auto;
    }
    .wrapper nav .items{
      flex-wrap: wrap;
      justify-content: center;
    }
    nav .items span{
      margin: 5px;
    }
    .gallery .image{
      width: 100%;
    }
    .preview-box{
      width: 90%;
      margin: auto;
    }
    /*counter start*/ 
    .counter-up{
      padding: 30px 20px 0 20px;
    }
    .counter-up .counter-content .counter-box{
      width: 100%;
    }
/*counter up end*/
  }
  
